body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
label {
  text-align: left;
  display: block;
  margin: 3px 0 1px 0;
}
button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.password-container input {
  width: 100%;
  padding-right: 40px;
}
.password-toggle {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
